nav.nav-bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 60px;
    padding-right: 10px;
    background-color: rgba(116, 184, 248, 0.74);
}

a.nav-item {
    margin: 0px 10px;
    text-decoration: none;
    transition: all .3s ease-in-out;
}
a.nav-item:link, a.nav-item:visited, a.nav-item:active {
    color: rgba(0, 0, 0, 0.808);
}
a.nav-item:hover {
    color:rgb(0, 0, 0);
}
.main-title {
    text-align: center;
    margin: 15px;
    font-size: 35px;
    letter-spacing: .4px;
    font-weight: 400;
}
.create-new-article {
    border: none;
    display: flex;
    flex-direction: column;
    /* margin-bottom: 30px; */
    /* padding: 50px; */
}

.set-info {
    margin: 20px;
    font-size: 18px;
    letter-spacing: .1px;
}
.set-info > label {
    display: block;
    padding: 4px 10px 0 0;
    float: left;
    width: 160px;
    word-wrap: break-word;
    line-height: 1;
}
.set-info > input, .set-info > input:focus, .set-info > textarea, .set-info > textarea:focus {
    outline: 0;
    width: 560px;
    border-radius: 0;
    border: 1px solid black;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}
.set-info > input, .set-info > input:focus {
    height: 30px;
}

.set-main {
    padding: 50px;
}
.Submit-btn {
    align-self: center;
    border: 0;
    width: 100px;
    height: 45px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    transition: all .3s ease-in-out;
    cursor: pointer;
    background-color: rgba(159, 201, 255, 0.842);
}
.Submit-btn:hover {
    background:rgba(31, 36, 83, 0.904);
    color: whitesmoke;
}