{% extends 'base.html' %}

{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'home_style.css' %}" />
{% endblock %}

{% block title %} | Home{% endblock %}

{% block body %}
    <nav class='nav-bar'>
        {% if request.user.is_authenticated %}
            <a href="{% url 'Main:Dashboard' 'new-article' %}" class="nav-item">Dashboard</a>
            <a href="{% url 'Main:Logout' %}" class="nav-item">Logout</a>
        {% else %}
            <a href="{% url 'Main:Register' %}" class="nav-item">Sign Up</a>
            <a href="{% url 'Main:Login' %}" class="nav-item">Login</a>
        {% endif %}
    </nav>
    <section class="Article-view">
        {% for article in articles %}
        <div class="article">
            <div class="title">{{article.title}}</div>
            <div class="subtitle">{{article.subtitle}} <span class="date">{{article.date_published}}</span></div>
            <div class="body">{{article.summary_intro}}<span style="color: rgba(0, 0, 0, 0.562);">.....</span></div>
            <div class="anchors">
                <a href="{% url 'Main:Article' article.article_id %}" class="anchor-link">View Article</a>
                {% if article.owner == request.user %}
                    <a href="{% url 'Main:Dashboard' article.article_id %}" class="anchor-link">Edit Post</a>
                    <a href="{% url 'Main:Delete' article.article_id %}" class="anchor-link">Delete Post</a>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </section>
{% endblock %}