{% extends 'base.html' %}

{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'home_style.css' %}" />
{% endblock %}

{% block body %}
    <nav class='nav-bar'>
        {% if request.user.is_authenticated %}
            <a href="{% url 'Main:HomePage' %}" class="nav-item">Home</a>
            <a href="{% url 'Main:Dashboard' %}" class="nav-item">Dashboard</a>
            <a href="{% url 'Main:Logout' %}" class="nav-item">Logout</a>
        {% else %}
            <a href="{% url 'Main:HomePage' %}" class="nav-item">Home</a>
            <a href="{% url 'Main:Register' %}" class="nav-item">Sign Up</a>
            <a href="{% url 'Main:Login' %}" class="nav-item">Login</a>
        {% endif %}
    </nav>
    <section class="Article-detail">
        <div class="article-title">
            {{article_detail.title}}
        </div>
        <div class="article-subtitle">
            {{article_detail.subtitle}}
            <span class="article-date-pub">
                {{article_detail.date_published}}
            </span>
            {% if request.user == article_detail.owner %}
            <div class="article-date-pub">
                Date modified by you: {{article_detail.date_modified}}
            </div>
            {% endif %}
        </div>
        <div class="article-body">
            {{article_detail.body}}
        </div>
    </section>
{% endblock %}